img{
    width: 100px;
}
h3{
    margin: 0;
    text-align: center;
}
a{
    color: black;
    text-decoration-line: none;
}
.container{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
}
img:hover{
    background-color: rgb(240, 237, 237);
}